.infinity-container
{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	min-height:100vh;
	background-color:#0E1A35;
}

.infinity-form-block
{
	width:350px;
	border-radius:5px;
	box-sizing:border-box;
	overflow:hidden;
}

.infinity-click-box
{
	height:50px;
	background-color:#00a2ff;
	color:#fff;
	line-height:50px;
	font-size:20px;
	box-shadow:0 5px 10px rgba(0,0,0,.5);
}

.infinity-fold
{
	position:relative;
	width:100%;
	background:#36b4e6;
	padding:30px 20px;
}

.infinity-form .text-sm
{
	font-size:14px;
}

.infinity-form .form-input
{
	position:relative;
}

.infinity-form .form-input input
{
	width:100%;
	margin-bottom:20px;
	height:40px;
	border:2px solid rgb(252, 252, 252);
	border-radius:20px;
	outline:none;
	background:#fff;
	padding-left:45px;
}

.infinity-form .form-input span
{
	position:absolute;
	top:8px;
	padding-left:20px;
	color:#777;
}
#eye{
	position: absolute;
	left: 280px;
	transform: translate(0,-50%);
	top: 50%;
	cursor: pointer;
}
#eyeB{
	position: absolute;
	left: 280px;
	transform: translate(0,-50%);
	top: 50%;
	cursor: pointer;
}
.infinity-form .form-input input:focus,.infinity-form .form-input input:valid
{
	border:2px solid #fafaf7;
}

.infinity-form .form-input input:focus::placeholder
{
	color:#454b69;
}

.infinity-form input[type="checkbox"]:not(:checked) + label:before
{
	background:transparent;
	border:2px solid #fff;
	width:15px;
	height:15px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before
{
	background-color:#faf9f9!important;
	border:0;
	width:15px;
	height:15px;
}

.infinity-form button[type="submit"]
{
	margin-top:10px;
	border:none;
	cursor:pointer;
	width:150px;
	height:40px;
	border-radius:5px;
	background:#fcfbfb;
	color:rgb(8, 8, 8);
	font-weight:700;
	transition:.5s;
	margin-bottom:10px;
}

.infinity-form button[type="submit"]:hover
{
	background:#fdfcfb;
	-webkit-box-shadow:0 9px 10px -2px rgba(0,0,0,0.55);
	-moz-box-shadow:0 9px 10px -2px rgba(0,0,0,0.55);
	box-shadow:0 9px 10px -2px rgba(0,0,0,0.55);
}

.forget-link,.login-link,.register-link
{
	color:#000;
	font-weight:700;
}

.forget-link:hover,.login-link:hover,.register-link:hover
{
	color:#f3f3f3;
}

